.App{
  background-color: rgb(40, 41, 41);
  color: rgb(221, 217, 217);
}

.movies-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: rgb(40, 41, 41);;
}

.my-main{
display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(40, 41, 41);
}
